# =========================
# Maven
# =========================
target/
!/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================

## IntelliJ
.idea/
*.iml
*.iws
*.ipr

## Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

## VS Code
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment & Secrets
# =========================
.env
*.env
application-prod.properties
application-secrets.properties

# =========================
# Local Data / Files
# =========================
mysql_data/
keyfile.txt
uploads/